---
layout: default
---
<div class="home">

<div class="site-header-container {% if site.cover %}has-cover{% endif %}" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }});"{% endif %}>
  <div class="scrim {% if site.cover %}has-cover{% endif %}">
    <header class="site-header">
      <h1 class="title">{{ site.title }}</h1>
      {% if site.subtitle %}<p class="subtitle">{{ site.subtitle }}</p>{% endif %}
    </header>
  </div>
</div>

<div class="wrapper">
	<p>
		<b>
		The Mountain West Data Librarian Symposium is a low-cost professional development opportunity for librarians and research data specialists. Join us August 13-14 at the University of Colorado Boulder for the inaugural Mountain West Data Librarian Symposium!
		</b>
</p>
	<p>
		<b>
		We are seeking hands-on workshop sessions that focus on active attendee participation. Please view the [call for proposals](https://mountainwestdls.github.io/call_2018/). Workshop proposals are due May 22, 2018.
		</b>
</p>

</div>
</div>
