---
layout: default
---
<div class="home">

<div class="site-header-container {% if site.cover %}has-cover{% endif %}" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }});"{% endif %}>
  <div class="scrim {% if site.cover %}has-cover{% endif %}">
    <header class="site-header">
      <h1 class="title">{{ site.title }}</h1>
      {% if site.subtitle %}<p class="subtitle">{{ site.subtitle }}</p>{% endif %}
    </header>
  </div>
</div>

<div class="wrapper">
	<p>
		The Mountain West Data Librarian Symposium is a low-cost professional development opportunity for librarians and research data specialists. Join us August 13-14, 2018 at the University of Colorado Boulder for the inaugural Mountain West Data Librarian Symposium!
	</p>

</div>
</div>
